# Ignore Visual Studio Code settings and workspace files
.vscode/
.qodo/
.DS_Store
distilbert_definitive/
Proyecto_1_PreviousAttempts/checkpoint-236/
nlp_env_2026/
*.pt
*.bin
*.ckpt
.ipynb_checkpoints/
__pycache__/
*.log
runs/
wandb/
distilbert_crude/
distilbert_sentiment/
distilbert_sentiment_full/
8_MaterialComplementario/papers.zip
8_MaterialComplementario/papers.csv